@model IEnumerable<NorthwestLabs.Models.Assay>

@{
    ViewBag.Title = "Request a Quote";
}

<h2>Request a Quote</h2>
<div id="Assay">
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DaysToComplete)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.assayType.TypeDescription)
            </th>
            <th>
                Include Assay in Quote?
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DaysToComplete)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.assayType.TypeDescription)
                </td>
                <td>
                    <input type="checkbox" checked="checked" value="@item.AssayID" />
                </td>
            </tr>
        }
    </table>
</div>

@Html.ActionLink("Submit Quote Request", "SubmitQuote", , new{ @class="btn btn-primary"})
<script>
    var Assays = []
    $(document).ready(function () {
        $("#Assay input:checkbox:checked").each(function () { Assays.push($(this).val()); });
    document.getElementById("quoteAssays").value = Assays;
</script>