@model IEnumerable<NorthwestLabs.Models.Assay>

@{
    ViewBag.Title = "Request a Quote";
}

<h2>Request a Quote</h2>

<hr />

<h3>Our Assay Services:</h3>
<div id="Assay">
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DaysToComplete)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.assayType.TypeDescription)
            </th>
            <th>
                Include Assay in Quote?
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DaysToComplete)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.assayType.TypeDescription)
                </td>
                <td>
                    <input type="checkbox" value="@item.AssayID" />
                </td>
            </tr>
        }
    </table>
</div>
@using (Html.BeginForm())
{
    <input type="hidden" name="quoteAssays" id="quotes" />
    <input type="hidden" name="clientID" value="@ViewBag.ClientID" />

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Submit Quote" class="btn btn-primary" />
        </div>
    </div>
}
<script>
    var Assays = []
    function submitQuote() {
        $("#Assay input:checkbox:checked").each(function () { Assays.push($(this).val());) };
        for (iCount = 0; iCount < Assays.length; iCount++) {
            document.getElementById("quotes").val += Assays[iCount] + ", ";
        }
       
</script>