@model IEnumerable<NorthwestLabs.Models.Compound>

@{
    ViewBag.Title = "Compounds";
}

<h2>Compounds</h2>

<p>
    @Html.ActionLink("Pending Compounds", "PendingCompounds")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.OrderID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CompName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Volume)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VolumeUnitID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateArrived)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReceivedBy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateDue)
        </th>
        
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.OrderID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CompName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Volume)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VolumeUnitID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateArrived)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ReceivedBy)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateDue)
        </td>
        
            @Html.HiddenFor(modelItem => item.ClientWeight)
        
            @Html.HiddenFor(modelItem => item.WeightUnit.WeightUnitDesc)
        
            @Html.HiddenFor(modelItem => item.MolecularMass)
        
            @Html.HiddenFor(modelItem => item.ConfID)
                    @Html.HiddenFor(modelItem => item.ActualWeight)
       
            @Html.HiddenFor(modelItem => item.WeightUnit.WeightUnitDesc)
        
            @Html.HiddenFor(modelItem => item.DoseID)
        
        <td>
          
            <div class="btn-group-vertical">
                @Html.ActionLink("Edit", "Edit", new { id = item.LTNumber }, new { @class = "btn btn-primary btn-group" }) 
                @Html.ActionLink("More Details", "Details", new { id = item.LTNumber }, new { @class = "btn btn-primary btn-group" })
            </div>
        </td>
    </tr>
}

</table>



